html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(250, 250, 250);
    width:70%;
}
#root:not(.withChat) {
    display:flex;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left:520px;
}
#root.withChat {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 100%;
    margin-top: 20px;
}

/* video section */

.container {
    width: calc(100% - 5px);
    height: 100%;
    padding-right: 5px;
    display: flex;
    align-content: flex-start;
    
}
.participant {
    margin-bottom: 100px;
    margin-right: 5px;
    display: grid;
    grid-template-rows: auto 20px;
    top:160px;
}
.participant div {
    text-align: center;
}
.participant div video {
    background-color: #eee;
    border: 2px solid #2D8CFF;
    border-radius: 13px;
    position: relative;
    right:190%;
    bottom:170%;
}
.participant div video:not(.trackZoomed) {
    width: 240px;
    height: 180px;
}
.participant .label {
    background-color: #ff9500;
    font-family: 'Roboto';
    padding: 2px;
    color:white;
    position: relative;
    right:190%;
    top:-325px;
    border-radius:2px;
    
    
}
.participantZoomed {
    width: 100%;
    height: calc(100% - 5px);
    grid-template-rows: auto 30px;
}
.participantHidden {
    display: none;
}
.trackZoomed {
    width: 100%;
    height: 100%;
}
.participantZoomed div video:not(.trackZoomed) {
    display: none;
}
.participantHidden div video {
    display: none;
}
.participantHidden .label {
    display: none;
}
.participantZoomed .label {
    margin-top: 8px;
}

/* chat section */

#root.withChat #chat {
    width: calc(100% - 5px);
    display: grid;
    grid-template-rows: auto 30px;
    border-left: 1px solid black;
    padding: 5px;
}
#root:not(withChat) #chat {
    display: none;
}
#chat #chat-scroll {
    overflow: auto;
}
#chat #chat-content {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1em;
    max-height: 1px;
}

#title {
    color:#2D8CFF;
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    margin-left:90%;
    margin-bottom:60px;
  
}



.clasbuton {
    background-color: #2D8CFF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Roboto';
    width:160px;
}

.clasbuton:hover {
    background-color: #ff9500; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: 'Roboto';
    width:160px;
    cursor:pointer;
}

form {
    margin-left:90%;
}

#username {
    margin-bottom:20px;
    font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 150px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  height:10px;
}

input[type=text]:focus {
    border: 3px solid #555;
  }

input[type=text] {
    border:6px solid black;
}

#count {
    margin-left:15%;
    margin-bottom:-20px;
}